@model CompaniesMoviesViewModel
<h1>@Model.Company</h1>
<div class="row">
    <div class="col col-4 mx-auto">
        <table class="table table-responsive table-hover">
            <tr>
                <th>Movie</th>
            </tr>

            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>@movie.Name</td>
                </tr>
            }

        </table>
    </div>
</div>


