@model CompaniesListViewComponentViewModel

@* dropdown list *@
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Companies
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach(var link in Model.Links)
        { 
            <a class="dropdown-item" 
               asp-controller="Companies"
               asp-action="Movies"
               asp-route-id="@link.Id">@link.Name</a>
        }
    </div>
</li>
